.content.movies
  div(ui-view)
  h1 Movies

  .poster-list
    a.poster-list-item(ng-repeat="movie in ctrl.movies.items", ui-sref="movie({imdb: movie.ids.imdb})")
      .poster-image
        fade-img(img="{{movie.images.poster.thumb}}")
        .rating {{movie.rating}}
        .backdrop
          i.ion-ios7-eye
        .post-list-content(ng-if="show.favorite")
          i.ion-ios7-heart
      .poster-data
        .poster-title {{movie.title}}
        .poster-genre {{movie.genres[0]}}

