.content.movie(style="background-image:url({{ctrl.movie.images.fanart.medium}});")
  .movie-backdrop

  .left
    .img-container
      fade-img(img="{{ctrl.movie.images.poster.medium}}")

    .rating
      .rating-inner {{ctrl.movie.rating}}

    .actions
      div(ng-if="!ctrl.download")
        a.btn(ng-click="ctrl.downloadMagnet(ctrl.movie.yts_magnet)") Download
      div(ng-if="ctrl.download")
        a.btn() {{ctrl.download.progress / 10}}% - {{ctrl.download.speed / 1000 | kbFmt:2}}/s


  .center
    h1 {{ctrl.movie.title}}
    p.overview {{ctrl.movie.overview}}

    ul.tabs
      li: a(ng-class="{active: ctrl.tab === 'trailer'}", ng-click="ctrl.tab = 'trailer'") Trailer
      li: a(ng-class="{active: ctrl.tab === 'torrents'}", ng-click="ctrl.tab  = 'torrents'") Torrents

    .tab-trailer(ng-if="ctrl.tab == 'trailer'")
      youtube-player(video-url="ctrl.movie.trailer")

    .tab-torrents(ng-if="ctrl.tab == 'torrents'")
      table.torrents
        thead
          tr
            th Name
            th Seeds
            th Leechers
        tbody
          tr.torrent-item(ng-repeat="torrent in ctrl.torrents")
            td
              a(ng-click="ctrl.downloadMagnet(torrent.link)") {{torrent.title}}
            td {{torrent.seeds}}
            td {{torrent.leechers}}

