.content.movies
  div(ui-view)
  h1 Search Results

  .poster-list
    .poster-list-item(ng-repeat="searchItem in ctrl.search.items", ng-click="ctrl.navigate(searchItem)")
      .poster-image
        fade-img(img="{{searchItem.images.poster.thumb}}")
        .rating {{searchItem.rating}}
        .backdrop
        a.fav(ng-click="ctrl.toggleFav($event, searchItem)")
          i.fav-true.ion-android-favorite(ng-if="searchItem.favorite")
          i.fav-false.ion-android-favorite-outline(ng-if="!searchItem.favorite")
          
      .poster-data
        .poster-title {{searchItem.title}}
        .poster-genre {{searchItem.genres[0]}}