.content.downloads
  h1 Downloads

  table(ng-if="ctrl.downloads")
    thead
      tr
        th
        th Status
        th Name
        th Progress
        th Speed
        th ETA
    tbody
      tr(ng-repeat="download in ctrl.downloads")
        td.actions
          a(ng-if="download.status === 0", ng-click="ctrl.start(download)")
            i.ion-play
          a(ng-if="download.status === 4", ng-click="ctrl.stop(download)")
            i.ion-pause

        td.status {{ctrl.statusText(download.status)}}
        td
          span(ng-if="download.movie")
            a(ui-sref="movie({id: download.movie.id})") {{download.name}}
          span(ng-if="!download.movie") {{download.name}}
        td.percentDone {{download.percentDone * 100 | number}}%
        td.download {{download.rateDownload / 1000 | kbFmt:2}}/s
        td.eta {{download.eta | eta}}