.header(ng-controller="HeaderController as ctrl")
  .header-left
    .brand Pirateship

  .header-right
    a.icon(ui-sref="movies", ui-sref-active="active") Movies
    a.icon(ui-sref="shows", ui-sref-active="active") Shows
    a.icon(ui-sref="torrents", ui-sref-active="active") Torrents
    a.icon(ui-sref="downloads", ui-sref-active="active") Downloads
    a.icon(ui-sref="recents", ui-sref-active="active") Recents


