.header(ng-controller="HeaderController as h")
  .header-left
    a.brand(ui-sref="home") Pirateship
    form(ng-submit="h.onSubmit()")
      input(type="text", ng-model="h.global.moviesStoreQuery.query", placeholder="Search...", ng-model-options="{debounce: 300}")
      a.input-clear(ng-click="h.clearQuery()", ng-class="{visible: h.global.moviesStoreQuery.query.length > 0}")
        i.ion-ios7-close-outline

  .header-right
    a.icon(ui-sref="movies") Movies
    a.icon(ui-sref="downloads") Downloads


