.content.movie
  .left
    .img-container
      fade-img(img="/tmp/{{ctrl.movie.poster_thumb}}")

    .rating
      .rating-inner {{ctrl.movie.rating}}

    .actions
      div(ng-if="!ctrl.download")
        a.btn(ng-click="ctrl.downloadMagnet()") Download
      div(ng-if="ctrl.download")
        a.btn() {{ctrl.download.progress / 10}}% - {{ctrl.download.speed / 1000 | kbFmt:2}}/s


  .center
    h1 {{ctrl.movie.title}}
    p {{ctrl.movie.overview}}
    h2 Trailer
    youtube-player(video-url="ctrl.movie.trailer")

