table.torrent-list
  thead
    tr
      th Name
      th Seeds
      th Leechers
  tbody
    tr.torrent-list-item(ng-repeat="torrent in ctrl.torrents")
      td
        a(ng-click="ctrl.downloadMagnet(torrent.link)") {{torrent.title}}
      td {{torrent.seeds}}
      td {{torrent.leechers}}