.content.movies
  div(ui-view)
    h1 Shows

    .poster-list
      a.poster-list-item(ng-repeat="show in ctrl.shows.items", ui-sref="show({id: show.id})")
        .poster-image
          fade-img(img="{{show.images.poster.thumb}}")
          .rating {{show.rating | number: 0}}
          .backdrop
            i.ion-ios7-eye
          .post-list-content(ng-if="show.favorite")
            i.ion-ios7-heart
        .poster-data
          .poster-title {{show.title}}