.content.show(ng-if="ctrl.show", style="background-image:url({{ctrl.show.image_fanart_thumb}});")
  .movie-backdrop
  .left
    .img-container
      fade-img(img="{{ctrl.show.image_poster_thumb}}")
      .rating
        .rating-inner {{ctrl.show.rating | number: 0}}
  .center
    h1
      |  {{ctrl.show.title}} / S{{ctrl.pad(ctrl.activeSeason)}}
      .all-seasons
        span All seasons:
        ul.list-inline
          li(ng-repeat="season in ctrl.seasons")
            a(ng-click="ctrl.setActiveSeason(season)") {{ season }}


    table
      tr(ng-repeat="episode in ctrl.activeEpisodes", ng-class="{notAvailable: !ctrl.episodeIsAvailableToDownload(episode) }")
        td S{{ctrl.pad(ctrl.activeSeason)}}E{{ctrl.pad(episode.number)}} - {{episode.title}}
        td {{episode.first_aired | relativeDate }}
        td.actions
          div(ng-if="ctrl.episodeIsAvailableToDownload(episode)")
            a(ng-click="ctrl.downloadSubtitles(episode)", class="{{ctrl.subtitlesState(episode)}}", ng-if="episode.local.video")
              i.ion-closed-captioning
            a(ng-click="ctrl.play(episode)", ng-if="episode.local.video")
              i.ion-ios-play
            a(ng-click="ctrl.download(episode)", ng-if="!episode.local.video")
              i.ion-ios-cloud-download
            a(ui-sref="torrents({query: ctrl.episodeId(episode)})", ng-if="!episode.local.video")
              i.ion-ios-search-strong
                          
